body .wrapper {
  width: 100%;
  position: relative;
}

#ws-main-background {
  padding-top: 14rem;
  width: 100%;
  position: relative;
  z-index:2;
}

.ws-swiper-background {
  position: absolute;
  height: 41rem;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -5;
}

.nav-container {
  position: absolute;
  width: 100%;
  top: 10rem;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 4;
}

.nav-navbar .nav-navbar-mid .navbar-ul {
  display: flex;
  justify-content: space-between;
  width: 110rem;
  margin: 0 auto;
}

nav .nav-navbar .navbar-ul .list-group-item {
  line-height: 4rem;
  width: 13.5rem;
}

nav .nav-navbar .navbar-ul li a {
  display: block;
  font-weight: bold;
  font-size: 1.8rem;
  color: #fff;
}

nav .nav-navbar-depth1menu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin: 0 auto;
  z-index: 55;
}

nav .nav-navbar .nav-navbar-btm {
  overflow: hidden;
  width: 100%;
  height: 0;
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  transition: all 0.4s ease-in-out;
}

nav .nav-navbar:hover .nav-navbar-btm {
  height: 15rem;
}

nav .nav-navbar-btm-bg .list-group {
  display: flex;
  width: 110rem;
  height: 15rem;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

nav .nav-navbar-btm-bg .list-group .list-group-item1 {
  width: 13.5rem;
  flex-shrink: 0;
  flex-grow: 1;
}

nav .nav-navbar-btm-bg .list-group .nav-navbar-depth2menu {
  width: 13.5rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 3.2rem;
}

nav .nav-navbar-btm-bg .list-group .nav-navbar-depth2menu li {
  line-height: 3.2rem;
}

nav .nav-navbar-btm-bg .list-group .nav-navbar-depth2menu li a {
  display: block;
  font-size: 1.6rem;
  height: 3.2rem;
  z-index: 999;
}

header .ws-header-container {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

header .ws-header-container .ws-header-top {
  width: 110rem;
  height: 8rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

header .ws-header-container .ws-header-top .ws-header-brand {
  position: absolute;
  bottom: 0;
}

header .ws-header-container .ws-header-top .ws-header-panel {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}

.ws-header-panel .ws-header-search {
  display: flex;
  width: 25rem;
}

.ws-header-panel .ws-header-search .ws-header-search-bar {
  height: 3.4rem;
  border: 0.2rem solid #fff;
  border-radius: 2.5rem 0 0 2.5rem;
  background-color: transparent;
  text-indent: 2rem;
  font-size: 1.6rem;
  outline: none;
  color: #fff;
  flex: 1;
}

.ws-header-panel .ws-header-search .ws-header-search-bar::placeholder {
  color: #fff;
}

.ws-header-panel .ws-header-search .ws-header-search-bar::-webkit-input-placeholder {
  color: #fff;
}

.ws-header-panel .ws-header-search .ws-header-search-bar::-ms-input-placeholder {
  color: #fff;
}

.ws-header-panel .ws-header-search .ws-header-search-btn {
  width: 4.3rem;
  height: 3.4rem;
  background-image: url(/img/icon_search_w.png);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0.2rem solid #fff;
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  margin-left: -0.2rem;
  cursor: pointer;
}

.ws-header-userinfo {
  bottom: 0;
  right: 0;
  width: 20rem;
}

.ws-header-userinfo ul {
  display: flex;
  height: 3.4rem;
  justify-content: space-between;
  gap: 0 0.01rem;
}

.ws-header-userinfo ul li {
  width: 10rem;
  text-align: center;
  line-height: 3.4rem;
}

.ws-header-userinfo ul li a {
  display: block;
  font-size: 1.6rem;
}
/*  main area start  */
main {
  border-bottom: 1px solid #000;
  margin-bottom: 2rem;
  width: 100%;
}
main .container {
  width: 110rem;
  margin: 0 auto;
}

main .sec-title1 h1 {
  margin-top: 2rem;
  font-size: 2.5rem;
}

main .sec-title1 hr {
  margin-bottom: 5rem;
}

section.sec-1 .video-grid {
  display: grid;
  height: 60rem;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 5rem;
  row-gap: 2.5rem;
  column-gap: 1rem;
}

.ws-video-caption-box .ws-video-grid-title h3 {
  font-size: 1.8rem;
}

.ws-video-caption-box .ws-video-grid-content p {
  font-size: 1.4rem;
}

section.sec-1 .grid-items1 {
  display: block;
  background-image: url(/img/mqdefault.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

section.sec-1 .grid-items1 .ws-video-caption-box {
  position: absolute;
  bottom: -2.4rem;
  left: 0;
}

section.sec-1 .grid-items2 {
  background-image: url(/img/mqdefault\ \(5\).jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  display: block;
}

section.sec-1 .grid-items2 .ws-video-caption-box {
  position: absolute;
  bottom: -2.4rem;
  left: 0;
}

section.sec-1 .grid-items3 {
  background-image: url(/img/mqdefault\ \(2\).jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: relative;
}

section.sec-1 .grid-items3 .ws-video-caption-box {
  position: absolute;
  bottom: -2.4rem;
  left: 0;
}

section.sec-1 .grid-items4 {
  background-image: url(/img/mqdefault\ \(3\).jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: relative;
}

section.sec-1 .grid-items4 .ws-video-caption-box {
  position: absolute;
  bottom: -2.4rem;
  left: 0;
}

section.sec-1 .grid-items5 {
  background-image: url(/img/mqdefault\ \(4\).jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: relative;
}

section.sec-1 .grid-items5 .ws-video-caption-box {
  position: absolute;
  bottom: -2.4rem;
  left: 0;
}

section.sec-1 .grid-items6 {
  background-image: url(/img/mqdefault\ \(5\).jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: relative;
}

section.sec-1 .grid-items6 .ws-video-caption-box {
  position: absolute;
  bottom: -2.4rem;
  left: 0;
}

section.sec-2 .video-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 20rem;
  column-gap: 1rem;
  margin-bottom: 10rem;
}

section.sec-2 .grid-items1 {
  background-image: url(/img/mqdefault\ \(14\).jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: relative;
}

section.sec-2 .ws-video-caption-box {
  position: absolute;
  bottom: -8rem;
  left: 0;
}

section.sec-2 .grid-items2 {
  background-image: url(/img/mqdefault\ \(7\).jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: relative;
}

section.sec-2 .ws-video-caption-box {
  position: absolute;
  bottom: -8rem;
  left: 0;
}

section.sec-2 .grid-items3 {
  background-image: url(/img/mqdefault\ \(8\).jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: relative;
}

section.sec-2 .ws-video-caption-box {
  position: absolute;
  bottom: -8rem;
  left: 0;
}

section.sec-2 .grid-items4 {
  background-image: url(/img/mqdefault\ \(9\).jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: relative;
}

section.sec-2 .ws-video-caption-box {
  position: absolute;
  bottom: -8rem;
  left: 0;
}

section.sec-3 .video-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 20rem;
  column-gap: 1rem;
  margin-bottom: 15rem;
}

section.sec-3 .grid-items1 {
  background-image: url(/img/mqdefault\ \(12\).jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: relative;
}

section.sec-3 .grid-items1 .ws-video-caption-box {
  position: absolute;
  bottom: -10rem;
  left: 0;
}

section.sec-3 .grid-items2 {
  background-image: url(/img/mqdefault\ \(10\).jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: relative;
}

section.sec-3 .grid-items2 .ws-video-caption-box {
  position: absolute;
  bottom: -10rem;
  left: 0;
}

section.sec-3 .grid-items3 {
  background-image: url(/img/mqdefault\ \(11\).jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: relative;
}

section.sec-3 .grid-items3 .ws-video-caption-box {
  position: absolute;
  bottom: -10rem;
  left: 0;
}
section.sec-4{
  margin-bottom: 4rem;
}
section.sec-4 .sec-title1 hr {
  margin-bottom: 1rem;
}

section.sec-4 .icon-grid {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 1rem;
  justify-content: space-between;
  margin-bottom: 5rem;
}

section.sec-4 .icon-grid .grid-item img {
  background-color: #eee;
  border-radius: 1rem;
}

section.sec-4 .icon-grid .grid-item span {
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
}

section.sec-4 .test-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  justify-content: space-between;
}

section.sec-4 .test-grid .grid-item {
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(16, 52, 0, 0.3);
  display: flex;
  flex-direction: row;
}

section.sec-4 .test-grid .grid-item:hover {
  cursor: pointer;
}

.on {
  font-weight: bold;
}
.btnon{
  background-color: #00ae82;
}
.coloron{
  color : #00ae82 !important;
  font-weight: bold;
}

section.sec-4 .test-grid .grid-item .test-content {
  display: flex;
  flex: 1 1 auto;
}

section.sec-4 .test-grid .grid-item .test-content-text {
  flex-grow: 2;
}

section.sec-4 .test-grid .grid-item .test-content-img {
  text-align: center;
  flex-grow: 1;
}

section.sec-4 .test-grid .grid-item .test-content-img-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

section.sec-4 .test-grid .grid-item .test-content-text {
  display: flex;
  height: 12rem;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.2rem;
  gap: 2rem;
  color: #aaa;
}

section.sec-4 .test-grid .grid-item .test-content {
  position: relative;
}

section.sec-4 .test-grid .grid-item .test-content p {
  color: #000;
  font-size: 2rem;
}

section.sec-4 .test-grid .grid-item .test-content p + p {
  font-size: 1.2rem;
}

section.sec-4 .test-grid .grid-item .test-content img {
  position: absolute;
  right: 2rem;
  top: 2rem;
  display: block;
}

section.sec-4 .test-grid .grid-item .test-content button {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  border: none;
  background-color: #000;
  overflow: hidden;
  border-radius: 1rem;
}


section.sec-4 .test-grid .grid-item .test-content button a {
  color: #fff;
  display: block;
  padding: 0 2rem;
  font-size: 1.2rem;
}

footer .container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

footer .info ul {
  display: flex;
  gap: 2rem;
}

footer .info ul li:first-child a {
  color: #00ae82;
  font-weight: bold;
}

footer .info ul li a {
  display: block;
  color: #000;
  font-size: 1.4rem;
}

footer .sns_logo {
  position: absolute;
  top: 0;
  right: 0;
}

footer .sns_logo ul {
  display: flex;
  gap: 1.2rem;
}

footer .logo1 {
  display: block;
  width: 40px;
  height: 40px;
  background: url(../img/btm_sns.png) 0 0;
}

footer .logo2 {
  display: block;
  width: 40px;
  height: 40px;
  background: url(../img/btm_sns.png) -72px 0;
}

footer .logo3 {
  display: block;
  width: 40px;
  height: 40px;
  background: url(../img/btm_sns.png) -144px 0;
}

footer .logo4 {
  display: block;
  width: 40px;
  height: 40px;
  background: url(../img/btm_sns.png) -216px 0;
}

footer .logo_box {
  padding-top: 4rem;
  display: flex;
  gap: 3rem;
  flex-direction: row;
}

footer .logo_box img {
  width: 9.9rem;
  height: 4.6rem;
}

footer .logo_box img + img {
  width: 13.2rem;
  height: 4.6rem;
}

footer address {
  position: relative;
}

footer address p {
  vertical-align: middle;
  font-size: 1.2rem;
  font-style: normal;
}

footer address h1 {
  position: absolute;
  width: 32rem;
  bottom: -1rem;
  left: 0;
  font-size: 1.2rem;
}
